* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
}

.logo {
    width: 125px;
    height: 100px;
}

.container__fluid {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .container {
    padding: 40px 20px;
}

header .container .menu a {
    font-size: 0.875em;
    text-decoration: none;
    color: #4b4b4e;
    margin: 0 20px;

}

header .container .menu a:hover,
header .container .menu a.active {
    color: #dfa52b;
    font-weight: 600;
    padding-bottom: 7px;
    border-bottom: 3px solid #ebb217;
}

header form div {
    justify-content: center;
    padding: 10px 20px;
    border:  1px solid #ebb217;
    border-radius: 50px;
    width: 320px;
}

header form div input[type="text"] {
    border: none;
    margin-right: 10px;
}

header form div input[type="submit"] {
    background: url(../images/main/search_header_icon.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
}

header form div input[type="submit"]:hover {
    cursor: pointer;
}

header .cart {
    align-items:  flex-start;
}

header .cart div p {
    font-size: 0.938em;
    color: #838388;
}

.cart__icon {
    width: 25px;
    margin-right: 7px;
}

header .cart div a {
    font-size: 0.750em;
    color: #ebb217;
}
